body {
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 0;
    --valid-color: lightgreen;
    --invalid-color: red;
    --bg-left-color: gray;
    --bg-right-color: #FAFAFA;
    --font-style: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.left {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 45%;
    background-color: #202020;
}

.logo-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    position: absolute;
    top: 100px;
    width: 100%;
    color: white;
    position: absolute;
    text-align: center;
    background: rgba(5, 5, 5, .6);
    font-family: var(--font-style, sans-serif);
    letter-spacing: 1em;
}
img {
    width: 100%;
    height: 650px;
    border: none;
}

.right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    background-color: #FAFAFA;
}

.first {
    margin-top: 80px;
    width: 600px;
    margin-left: 50px;
    font-family: var(--font-style, sans-serif);
    font-size: 1.1em;
    letter-spacing: 3px;
}

.form-header {
    padding-left: 50px;
    font-size: 24px;
}
.right-top {
    display: flex;
    align-items: center;
    background-color: #FAFAFA;
    height: 200px;
    width: 100%;
    margin-top: 0;
}
.right-middle {
    width: 100%;
    margin-top: 0;
    box-shadow: 0px 10px 20px #D3D3D3;
}


.right-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 175px;
}

button {
    width: 150px;
    padding: 12px 20px 12px 20px;
    margin-left: 50px;
    background-color: #202020;
    border-radius: 10px;
    color: white;
}

.log-in {
    margin-left: 50px;
    width: 250px;
    font-family: var(--font-style, sans-serif);
}

a {
    color: teal;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    height: 40px;
    width: 600px;
    margin-left: 50px;
}

.one,
.two {
    display: flex;
    flex-direction: column;
}

.input {
    height: 1.75em;
    border-style: solid;
    border-color: #bebebe;
    border-radius: 5px;
}

label {
    color: gray;
    font-weight: bold;
    font-size: .5em;
    letter-spacing: 2px;
}

.middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-bottom: 20px;
    width: 600px;
    margin-left: 50px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 600px;
    margin-left: 50px;
    margin-bottom: 60px;
}

.input[type='email']:invalid {
    border: 2px solid var(--invalid-color, yellow);
}

.input[type='text']:valid {
    border: 2px solid var(--valid-color, purple);
}

.input[type='password']:valid {
    border: 2px solid var(--valid-color, purple);
}